@import './mixin.scss';
@import './config.scss';
.container {
    position: relative;
    width: 1226px;
    margin:0 auto;
}
a {
    img {
        width: 100%;
        height: 100%;
    }
}
input{
    outline: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::before,.clearfix::after {
    content: ' ';
    display: table;
}
.clearfix::after {
    clear:both;
}
input {
  outline: none;
  box-sizing: border-box;
}
// 头部logo
.header-logo {
    width: 55px;
    height: 55px;
    background-color: $colorA;
    a {
      display: inline-block;
      width: 110px;
      height: 55px;
      &::before {
        @include bgImg(55px, 55px, '/imgs/mi-logo.png');
        content: ' ';
        transition: margin 0.2s;
      }
      &:hover::before {
        margin-left: -55px;
      }
      &::after {
        @include bgImg(55px, 55px, '/imgs/mi-home.png');
        content: ' ';
      }
    }
}
// checkbox
.checkbox {
  @include bgImg(24px,24px,'/imgs/icon-gou.png');
  background-color: $colorA;
}
.nocheck {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $colorH;
  background-color: $colorG;

}