@mixin flex($hor:space-between, $col: center) {
    display: flex;
    justify-content: $hor;
    align-items: $col;
}

@mixin  bgImg($w:0,$h:0,$img:'',$size: contain) {
    display: inline-block;
    width: $w;
    height: $h;
    background: url($img) no-repeat center;
    background-size: $size;
}
