.modal {
    @include position(fixed);
    z-index: 11;
    transition: top .5s;
    .mask{
        @include position(fixed);
        background-color: $colorI;
        opacity: 0.5;
    }
    &.slider-enter,&.slider-leave-to {
        top: -100%;
    }
    &.slider-enter-to {
        top: 0;
    }
    .modal-dialog {
        @include position(absolute,40%,50%,660px,auto);
        transform: translate(-50%,-50%);
        background-color: $colorG;
        .modal-header {
            position: relative;
            padding: 0 25px;
            line-height: 60px;
            font-size: $fontI;
            background-color: $colorJ;
            .icon-close {
                @include positionBgImg(absolute,23px,25px,14px,14px,'/imgs/icon-close.png');
                transition: transform .3s;
                &:hover {
                    transform: scale(1.4);
                }
            }
        }
        .modal-body {
            padding: 42px 40px 54px 40px;
            font-size: $fontJ;
        }
        .modal-footer {
           text-align: center;
            line-height: 82px;
            background-color: $colorJ;
        }
    }
}